@charset "UTF-8";
/* CSS Document */

/* CSS Document */

*
{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;	
}

.container
{
	background-color:#F5CFAA;	
}

.jumbotron
{
	background-image:url(images/TITLE1.jpg);
	background-size:cover;
	color: black;
	text-align:center;
}

.dropdown-menu
{
	background-color:#1B1B1B;
}

.dropdown-menu li a
{
	color: white;
}

a
{
	color: white;
	text-decoration: none;	
}

/*Carousel*/
.carousel-caption h1
{
	color:#FFF2D5;	
	border-radius: 90px;
	padding: 2% 0% 2% 0%;
	font-size: 250%;
	background-color:#CA4C4E;
}

.carousel-caption h3
{
	font-size: 120%;
	background-color:#F0AD4E;
	padding: 2% 0% 2% 0%;
	border-radius: 90px;
}

/*Home Page*/
.home
{
	margin-top: 3%;
}

.home img
{
	width: 100%;
	height: 10%;	
}

.buttons img
{
	width: 100%;
	height: 60%;
	margin-top: 3%;
}

/*Photography*/
.p1
{
	width: 50%;
	margin: auto;
}

.p2
{
	width: 60%;
	margin: auto;
	padding: 2%
}

.p3
{
	width: 60%;
	margin: auto;
}

/*Media*/
iframe
{
	height: 320px;	
	width: 100%;
}

.featurette img
{
	height: 30%;
	width: 30%;	
	padding: 3%;
}

.featurette p
{
	padding: 3%;
}

/*Design*/
.dap
{
	width: 48%;
	margin: 1%;
}

.featurette-heading
{
	margin: 1%;	
}

/*Contact*/
#singlebutton
{
	background-color: #F65555;
	color: white;	
	border: none;
}

.form-group
{
	border: 1px thin	 #6A0A7A;
}

.icon
{
	width: 10%;
	height: 5%;
}	

.required
{
	color: red;	
}

.contacttop
{
	text-align: center;
	background-color: #F65555;
	color: white;
}

.row2
{
	margin: 1%;	
}

.design1
{
	margin:	auto;
}

.design1
{
	width: 60%;	
}












